header{
	position: absolute;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #14890c;
	margin: 30px 0 0 0;
	padding: 0 20px 0 0;
}

input[type=text] {
	background-color: #e0f9b8;
	border: 1px solid #c2f276;
	padding: 10px;
}
.edit {
	padding: 3px;
	margin: 5px 0;
	font-size: 11px;
	font-family: Verdana;
}
button[type="submit"]{
	background-color:#c2f276;
	border: 1px solid;


}
ul {
	display: flex;

}
li {
	padding: 7px;

}
.top-menu a {
	padding: 5px;
	background-color: #5d8e0f;
	color: white;
}
.content {
	background-image: url(img/OSXKY80.jpg);
	height: 800px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	display: flex;
	text-align: center;

}
.content-box {
	display: flex;
	justify-content: space-around;
}
.box-box {
	width: 20%;
}
p::first-letter {
	font-size: 1.5em;
	background-color: #000;
	color: #fff;
	margin-right: 0.2em;
	padding: 0 0.2em 0.1em
}
.box-box >p {
padding: 20px 0 20px 0;
}